assets/template/about.jade
extends _layout

block content
    .page
        .pageWrap
            .pageContent
                h1 Об отеле
                h2 Московский международный аэропорт Шереметьево приглашает своих гостей разместиться в капсульных отелях «Воздушный экспресс».
                p
                    b Первый капсульный отель
                    |  «Воздушный экспресс» располагается на 5-ом этаже терминала «Аэроэкспресс». Второй отель открылся в «транзитной зоне» терминала «Е» в мае 2013 года. К Вашим услугам — комфортабельные номера эконом-, бизнес- и первого класса, в которых есть всё необходимое, чтобы отдохнуть, восстановить силы и с хорошим настроением отправиться в полет.
                h3 Сеть комфортных отелей для наших гостей
                p Московский международный аэропорт Шереметьево приглашает своих гостей разместиться в капсульных отелях «Воздушный экспресс». Одно из преимуществ, которыми отличаются отели в Шереметьево
                h2 Московский международный аэропорт Шереметьево приглашает своих гостей разместиться
                p Одно из преимуществ, которыми отличаются отели в Шереметьево
                .line
                h4 Как заказать услугу?
                p На страницах нашего сайта гостиницы в Шереметьево представлена вся информация о капсульном отеле. 
                strong 8 800 550-02-42 (звонок по России бесплатный)</br>
                strong 8 (495) 788-35-02 (телефон в Москве)

            .pageTabs
                .pageTabItem.pageTabItemActive
                    | Об отеле
                .pageTabItem
                    a(href="#") Пресса о нас
                .pageTabItem
                    a(href="#") Работа в компании
                .pageTabItem
                    a(href="#") Правила

public/about.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>AirExpress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
    
  </head>
  <body>
    <div class="overley"></div>
    <div class="popup">
      <div class="popupClose">
        <button class="js-popupclose"></button>
      </div>
      <div class="popupWrap">
        <div class="popupHeader">Обратный звонок</div>
        <div class="popupText">Наши сотрудники перезвонят вам в ближайшее время, или вы можете написать нам на e-mail</div>
        <form class="popupForm">
          <div class="inputBlock">
            <div class="inputBlockWrap">
              <input placeholder="E-mail" required class="input">
            </div>
            <div class="inputBlockWrap">
              <input placeholder="Ваше имя" class="input">
            </div>
          </div>
          <input type="submit" value="Отправить" class="buttonBlueBig">
        </form>
      </div>
    </div>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLogo">
              <svg>
                <use xlink:href="#logo"></use>
              </svg>
        </div>
        <div class="headerLogoMobile">
              <svg>
                <use xlink:href="#logoMobile"></use>
              </svg>
        </div>
        <div class="headerMenu">
          <div class="headerMenuItems"><a href="#" class="active">Главная</a><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        </div>
        <div class="headerContact">
          <div class="headerSkype"><a href="#"></a></div>
          <div class="headerAddress"><a href="#" class="js-changephoneRus disable">Россия</a> /&nbsp<a href="#" class="js-changephoneMsk">Москва</a>
            <div class="headerPhoneRussia">8 800 550-02-42 </div>
            <div class="headerPhoneMsk">8 495 550-02-42 </div>
          </div>
          <div class="headerCallback">
            <button class="buttonBlue js-popupCall">Заказать звонок</button>
          </div>
        </div>
      </div>
    </div>
    <ul id="mobileMenu" class="mobileMenu">
      <li><a href="#" class="mobileMenuItem">Меню сайта</a>
        <ul>
          <li><a href="#" class="mobileMenuItemSub">Интернет магазин</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
          <li><a href="#" class="mobileMenuItemSub">Цены</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="page">
      <div class="pageWrap">
        <div class="pageContent">
          <h1>Об отеле</h1>
          <h2>Московский международный аэропорт Шереметьево приглашает своих гостей разместиться в капсульных отелях «Воздушный экспресс».</h2>
          <p><b>Первый капсульный отель</b> «Воздушный экспресс» располагается на 5-ом этаже терминала «Аэроэкспресс». Второй отель открылся в «транзитной зоне» терминала «Е» в мае 2013 года. К Вашим услугам — комфортабельные номера эконом-, бизнес- и первого класса, в которых есть всё необходимое, чтобы отдохнуть, восстановить силы и с хорошим настроением отправиться в полет.</p>
          <h3>Сеть комфортных отелей для наших гостей</h3>
          <p>Московский международный аэропорт Шереметьево приглашает своих гостей разместиться в капсульных отелях «Воздушный экспресс». Одно из преимуществ, которыми отличаются отели в Шереметьево</p>
          <h2>Московский международный аэропорт Шереметьево приглашает своих гостей разместиться</h2>
          <p>Одно из преимуществ, которыми отличаются отели в Шереметьево</p>
          <div class="line"></div>
          <h4>Как заказать услугу?</h4>
          <p>На страницах нашего сайта гостиницы в Шереметьево представлена вся информация о капсульном отеле. </p><strong>8 800 550-02-42 (звонок по России бесплатный)</br></strong><strong>8 (495) 788-35-02 (телефон в Москве)</strong>
        </div>
        <div class="pageTabs">
          <div class="pageTabItem pageTabItemActive">Об отеле</div>
          <div class="pageTabItem"><a href="#">Пресса о нас</a></div>
          <div class="pageTabItem"><a href="#">Работа в компании</a></div>
          <div class="pageTabItem"><a href="#">Правила</a></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu"><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        <div class="footerText">© Капсульный отель «Воздушный Экспресс», Москва +7 800 550-02-42 (по России бесплатный), +7 (495) 788-35-02 (в Москве) Владелец сайта — ООО «Успех», 123557, Москва, Большой Тишинский переулок, д. 38 офис 630</div>
        <div class="footerIcons">
          <div class="footerIconMaestro"></div>
          <div class="footerIconVisa"></div>
        </div>
      </div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
