public/booking.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>AirExpress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
    
  </head>
  <body>
    <div class="overley"></div>
    <div class="popup">
      <div class="popupClose">
        <button class="js-popupclose"></button>
      </div>
      <div class="popupWrap">
        <div class="popupHeader">Обратный звонок</div>
        <div class="popupText">Наши сотрудники перезвонят вам в ближайшее время, или вы можете написать нам на e-mail</div>
        <form class="popupForm">
          <div class="inputBlock">
            <div class="inputBlockWrap">
              <input placeholder="E-mail" required class="input">
            </div>
            <div class="inputBlockWrap">
              <input placeholder="Ваше имя" class="input">
            </div>
          </div>
          <input type="submit" value="Отправить" class="buttonBlueBig">
        </form>
      </div>
    </div>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLogo">
              <svg>
                <use xlink:href="#logo"></use>
              </svg>
        </div>
        <div class="headerLogoMobile">
              <svg>
                <use xlink:href="#logoMobile"></use>
              </svg>
        </div>
        <div class="headerMenu">
          <div class="headerMenuItems"><a href="#" class="active">Главная</a><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        </div>
        <div class="headerContact">
          <div class="headerSkype"><a href="#"></a></div>
          <div class="headerAddress"><a href="#" class="js-changephoneRus disable">Россия</a> /&nbsp<a href="#" class="js-changephoneMsk">Москва</a>
            <div class="headerPhoneRussia">8 800 550-02-42 </div>
            <div class="headerPhoneMsk">8 495 550-02-42 </div>
          </div>
          <div class="headerCallback">
            <button class="buttonBlue js-popupCall">Заказать звонок</button>
          </div>
        </div>
      </div>
    </div>
    <ul id="mobileMenu" class="mobileMenu">
      <li><a href="#" class="mobileMenuItem">Меню сайта</a>
        <ul>
          <li><a href="#" class="mobileMenuItemSub">Интернет магазин</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
          <li><a href="#" class="mobileMenuItemSub">Цены</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="booking">
      <div class="bookingWrap">
        <div class="bookingHeader">
          <h1>Бронирование</h1>
          <p>Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопросам — <b>8 800 550-02-42</b></p>
        </div>
        <form class="bookingForm">
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <label class="bookingLabel">Выбор отеля</label>
            </div>
            <div class="bookingFormItemRight">
              <select class="selectric">
                <option>Шереметьево Терминал B</option>
                <option>Шереметьево Терминал C</option>
                <option>Шереметьево Терминал Е</option>
              </select>
            </div>
          </div>
          <div class="bookingSubHeader">
            <h2>Даты и кол-во гостей</h2>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <label class="bookingLabelSmall">Дата заезда</label>
            </div>
            <div class="bookingFormItemRight">
              <div class="bookingFormItemHalf">
                <div class="datepickerWrap">
                  <input data-value="Mon Aug 03 2015 14:03:46 GMT+0300 (MSK)" class="datepicker">
                </div>
              </div>
              <div class="bookingFormItemHalf">
                <div class="datepickerWrap">
                  <input class="timepicker">
                </div>
              </div>
            </div>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <label class="bookingLabelSmall">Дата выезда</label>
            </div>
            <div class="bookingFormItemRight">
              <div class="bookingFormItemHalf">
                <div class="datepickerWrap">
                  <input class="datepicker">
                </div>
              </div>
              <div class="bookingFormItemHalf">
                <div class="datepickerWrap">
                  <input class="timepicker">
                </div>
              </div>
            </div>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <label class="bookingLabelSmall">Взрослых и детей</label>
            </div>
            <div class="bookingFormItemRight">
              <div class="bookingFormItemHalf">
                <select class="selectric">
                  <option>1 взрослых</option>
                  <option>2 взрослых</option>
                  <option>3 взрослых</option>
                </select>
              </div>
              <div class="bookingFormItemHalf">
                <select class="selectric">
                  <option>Без детей</option>
                  <option>1 ребенок</option>
                  <option>2 ребенка</option>
                </select>
              </div>
            </div>
          </div>
          <div class="bookingSubHeader">
            <h2>Выбор номера</h2>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <label class="bookingLabelSmall">Тип и количество</label>
            </div>
            <div class="bookingFormItemRight">
              <div class="bookingFormItemThree">
                <select class="selectric js-changeroom">
                  <option value="room1">Двухместный с окном (от 700 Р в час)</option>
                  <option value="room2">Одноместный с окном (от 1700 Р в час)</option>
                </select>
              </div>
              <div class="bookingFormItemOne">
                <div class="bookingFormItemX"></div>
                <select class="selectric">
                  <option>12</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <p>&nbsp</p>
            </div>
            <div class="bookingFormItemRight">
              <div class="bookingFormItemRoom room1">
                <div class="bookingFormItemRoomImage"><img src="img/room.jpg"></div>
                <div class="bookingFormItemRoomText">1 Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос</div>
              </div>
              <div class="bookingFormItemRoom room2">
                <div class="bookingFormItemRoomImage"><img src="img/room.jpg"></div>
                <div class="bookingFormItemRoomText">2 Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос</div>
              </div>
            </div>
          </div>
          <div class="bookingSubHeader">
            <h2>Выбор номера</h2>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <label class="bookingLabelSmall">Данные гостя</label>
            </div>
            <div class="bookingFormItemRight">
              <div class="inputBlock">
                <div class="inputBlockWrap">
                  <input placeholder="Фамилия" class="input">
                </div>
                <div class="inputBlockWrap">
                  <input placeholder="Имя" class="input">
                </div>
                <div class="inputBlockWrap">
                  <input placeholder="Отчество" class="input">
                </div>
              </div>
            </div>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <label class="bookingLabelSmall">Контакты</label>
            </div>
            <div class="bookingFormItemRight">
              <div class="inputBlock">
                <div class="inputBlockWrap">
                  <input placeholder="Телефон" class="input">
                </div>
                <div class="inputBlockWrap">
                  <input placeholder="E-mail" required class="input">
                </div>
                <div class="inputBlockWrap">
                  <input placeholder="Документ" class="input">
                </div>
              </div>
            </div>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <p>&nbsp</p>
            </div>
            <div class="bookingFormItemRight">
              <textarea placeholder="Примечание" rows="7" class="textarea"></textarea>
            </div>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <p>&nbsp</p>
            </div>
            <div class="bookingFormItemRight">
              <label class="labelCheckbox">
                <input type="checkbox" class="icheck">Ознакомлен с &nbsp<a href="#">правилами и условиями</a> бронирования
              </label>
            </div>
          </div>
          <div class="bookingFormItem">
            <div class="bookingFormItemLeft">
              <p>&nbsp</p>
            </div>
            <div class="bookingFormItemRight">
              <div class="bookingFormItemBorder"></div>
              <div class="bookingFormTotal">Сумма к оплате: 25 000&nbsp<span class="asl">o</span></div>
            </div>
          </div>
          <div class="bookingFormSubmit">
            <div class="bookingFormSubmitWrap">
              <div class="bookingFormSubmitButton">
                <input type="submit" value="Забронировать" class="buttonOutline">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu"><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        <div class="footerText">© Капсульный отель «Воздушный Экспресс», Москва +7 800 550-02-42 (по России бесплатный), +7 (495) 788-35-02 (в Москве) Владелец сайта — ООО «Успех», 123557, Москва, Большой Тишинский переулок, д. 38 офис 630</div>
        <div class="footerIcons">
          <div class="footerIconMaestro"></div>
          <div class="footerIconVisa"></div>
        </div>
      </div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>

assets/template/booking.jade
extends _layout

block content
    .booking
        .bookingWrap
            .bookingHeader
                h1 Бронирование
                p
                    | Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопросам — 
                    b 8 800 550-02-42
            form.bookingForm
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabel Выбор отеля
                    .bookingFormItemRight
                        select.selectric
                            option Шереметьево Терминал B
                            option Шереметьево Терминал C
                            option Шереметьево Терминал Е
                .bookingSubHeader
                    h2
                        | Даты и кол-во гостей
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Дата заезда
                    .bookingFormItemRight
                        .bookingFormItemHalf
                            .datepickerWrap
                                input.datepicker(data-value=Date())
                        .bookingFormItemHalf
                            .datepickerWrap
                                input.timepicker
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Дата выезда
                    .bookingFormItemRight
                        .bookingFormItemHalf
                            .datepickerWrap
                                input.datepicker
                        .bookingFormItemHalf
                            .datepickerWrap
                                input.timepicker
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Взрослых и детей
                    .bookingFormItemRight
                        .bookingFormItemHalf
                            select.selectric
                                option 1 взрослых
                                option 2 взрослых
                                option 3 взрослых
                        .bookingFormItemHalf
                            select.selectric
                                option Без детей
                                option 1 ребенок
                                option 2 ребенка
                .bookingSubHeader
                    h2
                        | Выбор номера
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Тип и количество
                    .bookingFormItemRight
                        .bookingFormItemThree
                            select.selectric.js-changeroom
                                option(value='room1') Двухместный с окном (от 700 Р в час)
                                option(value='room2') Одноместный с окном (от 1700 Р в час)
                        .bookingFormItemOne
                            .bookingFormItemX
                            select.selectric
                                option 12
                                option 3
                                option 4
                .bookingFormItem
                    .bookingFormItemLeft
                        p &nbsp
                    .bookingFormItemRight
                        .bookingFormItemRoom.room1
                            .bookingFormItemRoomImage
                                img(src="img/room.jpg")
                            .bookingFormItemRoomText
                                | 1 Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос
                        .bookingFormItemRoom.room2
                            .bookingFormItemRoomImage
                                img(src="img/room.jpg")
                            .bookingFormItemRoomText
                                | 2 Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос Наш кол-центр всгде готов ответить на все ваши вопросы по бронирование номера, работе сайте или же по прочим вопрос
                .bookingSubHeader
                    h2
                        | Выбор номера
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Данные гостя
                    .bookingFormItemRight
                        .inputBlock
                            .inputBlockWrap
                                input.input(placeholder="Фамилия")
                            .inputBlockWrap
                                input.input(placeholder="Имя")    
                            .inputBlockWrap
                                input.input(placeholder="Отчество")
                .bookingFormItem
                    .bookingFormItemLeft
                        label.bookingLabelSmall Контакты
                    .bookingFormItemRight
                        .inputBlock
                            .inputBlockWrap
                                input.input(placeholder="Телефон")
                            .inputBlockWrap
                                input.input(placeholder="E-mail" required)
                            .inputBlockWrap
                                input.input(placeholder="Документ")
                .bookingFormItem
                    .bookingFormItemLeft
                        p &nbsp
                    .bookingFormItemRight
                        textarea.textarea(placeholder="Примечание", rows="7")
                .bookingFormItem
                    .bookingFormItemLeft
                        p &nbsp
                    .bookingFormItemRight
                        label.labelCheckbox
                            input(type="checkbox").icheck
                            | Ознакомлен с &nbsp
                            a(href="#") правилами и условиями
                            |  бронирования
                .bookingFormItem
                    .bookingFormItemLeft
                        p &nbsp
                    .bookingFormItemRight
                        .bookingFormItemBorder
                        .bookingFormTotal
                            | Сумма к оплате: 25 000&nbsp
                            span.asl o
                .bookingFormSubmit
                    .bookingFormSubmitWrap
                        .bookingFormSubmitButton
                            input(type="submit", value="Забронировать").buttonOutline 
