assets/template/index.jade
extends _layout

block content
    .banner
        .bannerItem(style="background-image: url('img/banner.jpg')")
            .bannerHeader
                | «Дневной тариф»
            .bannerText
                | Для удобства гостей с размещением на несколько часов, помимо традиционного тарифа
            .bannerButton
                a(href='#').buttonBlueBig Подробнее
        .bannerItem(style="background-image: url('img/banner.jpg')")
            .bannerHeader
                | «Вечерний тариф»
            .bannerText
                | Для удобства гостей с размещением на несколько часов, помимо традиционного тарифа
            .bannerButton
                a(href='#').buttonBlueBig Подробнее
    .hotel
        .hotelHeader
            | Аэроэкспресс аэропорт &nbsp
            i.iconAirport
            | Шереметьево
        .hotelSubHeader
            | ЗОНА ДО ПАСПОРТНОГО КОНТРОЛЯ
        .hotelItems
            .hotelItem(style="background-image: url('img/hotel-1.jpg')")
                .hotelItemHeader
                    | Двухместный с окном
                .hotelItemText
                    | Бронирование от 2000 
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
                
            .hotelItem(style="background-image: url('img/hotel-2.jpg')")
                .hotelBestOffer
                    | Скидка 40%
                .hotelItemHeader
                    | Одноместныйс окном
                .hotelItemText
                    | Бронирование от 3500
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
                    
            .hotelItem(style="background-image: url('img/hotel-3.jpg')")
                .hotelItemHeader
                    | Первый класс 3-х местный
                .hotelItemText
                    | Бронирование от 4500
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
    .hotel
        .hotelHeader.hotelHeaderBlue
            | Терминал Е аэропорта &nbsp
            i.iconAirport
            | Шереметьево
        .hotelSubHeader
            | ЗОНА DUTY FREE, ПОСЛЕ ПАСПОРТНОГО КОНТРОЛЯ
        .hotelItems
            .hotelItem(style="background-image: url('img/hotel-4.jpg')")
                .hotelItemHeader
                    | Двухместный с окном
                .hotelItemText
                    | Бронирование от 2000
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
                
            .hotelItem(style="background-image: url('img/hotel-5.jpg')")

                .hotelItemHeader
                    | Одноместныйс окном
                .hotelItemText
                    | Бронирование от 3500
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
                    
            .hotelItem(style="background-image: url('img/hotel-6.jpg')")
                .hotelBestOffer
                    | Лучшее предложение
                .hotelItemHeader
                    | Первый класс 3-х местный
                .hotelItemText
                    | Бронирование от 4500
                    span.asl o
                .hotelItemButton
                    a(href='#').buttonBlueBig Бронировать
    .hotelFuture
        .hotelFutureHeader
            | Сеть комфортных отелей
        .hotelFutureItems
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-1.png")
                h3 Современный дизайн
                p В наших отелях есть выбор от одноместного и бюджетного до трех-местных с окнами для семьи.hotelFutureItem
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-2.png")
                h3 Безопасность
                p Наши сотрудники будут ждать вас в условленное время, и окажут посильную помощь и пр.
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-3.png")
                h3 Красивый вид из окна
                p Выбор даты заезда и время отдыха, удобство нашего отеля в том, что вы можете отдохнуть от 3 часов.
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-4.png")
                h3 Выход в Интернет 
                p В наших отелях есть выбор от одноместного и бюджетного до трех-местных с окнами для семьи
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-5.png")
                h3 Экономичная оплата
                p Выбор даты заезда и время отдыха, удобство нашего отеля в том, что вы можете отдохнуть от 3 часов.
            .hotelFutureItem
                .hotelFutureItemImage
                    img(src="img/future-6.png")
                h3 Как заказать услугу?
                p Наши сотрудники будут ждать вас в условленное время, и окажут посильную помощь и пр.
    .hotelMap
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=fH31ffbTsEmwKPDfB8PCCc4-SWCAjvYC&width=100%&height=416"></script>

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>AirExpress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
    
  </head>
  <body>
    <div class="overley"></div>
    <div class="popup">
      <div class="popupClose">
        <button class="js-popupclose"></button>
      </div>
      <div class="popupWrap">
        <div class="popupHeader">Обратный звонок</div>
        <div class="popupText">Наши сотрудники перезвонят вам в ближайшее время, или вы можете написать нам на e-mail</div>
        <form class="popupForm">
          <div class="inputBlock">
            <div class="inputBlockWrap">
              <input placeholder="E-mail" required class="input">
            </div>
            <div class="inputBlockWrap">
              <input placeholder="Ваше имя" class="input">
            </div>
          </div>
          <input type="submit" value="Отправить" class="buttonBlueBig">
        </form>
      </div>
    </div>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLogo">
              <svg>
                <use xlink:href="#logo"></use>
              </svg>
        </div>
        <div class="headerLogoMobile">
              <svg>
                <use xlink:href="#logoMobile"></use>
              </svg>
        </div>
        <div class="headerMenu">
          <div class="headerMenuItems"><a href="#" class="active">Главная</a><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        </div>
        <div class="headerContact">
          <div class="headerSkype"><a href="#"></a></div>
          <div class="headerAddress"><a href="#" class="js-changephoneRus disable">Россия</a> /&nbsp<a href="#" class="js-changephoneMsk">Москва</a>
            <div class="headerPhoneRussia">8 800 550-02-42 </div>
            <div class="headerPhoneMsk">8 495 550-02-42 </div>
          </div>
          <div class="headerCallback">
            <button class="buttonBlue js-popupCall">Заказать звонок</button>
          </div>
        </div>
      </div>
    </div>
    <ul id="mobileMenu" class="mobileMenu">
      <li><a href="#" class="mobileMenuItem">Меню сайта</a>
        <ul>
          <li><a href="#" class="mobileMenuItemSub">Интернет магазин</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
          <li><a href="#" class="mobileMenuItemSub">Цены</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="banner">
      <div style="background-image: url('img/banner.jpg')" class="bannerItem">
        <div class="bannerHeader">«Дневной тариф»</div>
        <div class="bannerText">Для удобства гостей с размещением на несколько часов, помимо традиционного тарифа</div>
        <div class="bannerButton"><a href="#" class="buttonBlueBig">Подробнее</a></div>
      </div>
      <div style="background-image: url('img/banner.jpg')" class="bannerItem">
        <div class="bannerHeader">«Вечерний тариф»</div>
        <div class="bannerText">Для удобства гостей с размещением на несколько часов, помимо традиционного тарифа</div>
        <div class="bannerButton"><a href="#" class="buttonBlueBig">Подробнее</a></div>
      </div>
    </div>
    <div class="hotel">
      <div class="hotelHeader">Аэроэкспресс аэропорт &nbsp<i class="iconAirport"></i>Шереметьево</div>
      <div class="hotelSubHeader">ЗОНА ДО ПАСПОРТНОГО КОНТРОЛЯ</div>
      <div class="hotelItems">
        <div style="background-image: url('img/hotel-1.jpg')" class="hotelItem">
          <div class="hotelItemHeader">Двухместный с окном</div>
          <div class="hotelItemText">Бронирование от 2000 <span class="asl">o</span></div>
          <div class="hotelItemButton"><a href="#" class="buttonBlueBig">Бронировать</a></div>
        </div>
        <div style="background-image: url('img/hotel-2.jpg')" class="hotelItem">
          <div class="hotelBestOffer">Скидка 40%</div>
          <div class="hotelItemHeader">Одноместныйс окном</div>
          <div class="hotelItemText">Бронирование от 3500<span class="asl">o</span></div>
          <div class="hotelItemButton"><a href="#" class="buttonBlueBig">Бронировать</a></div>
        </div>
        <div style="background-image: url('img/hotel-3.jpg')" class="hotelItem">
          <div class="hotelItemHeader">Первый класс 3-х местный</div>
          <div class="hotelItemText">Бронирование от 4500<span class="asl">o</span></div>
          <div class="hotelItemButton"><a href="#" class="buttonBlueBig">Бронировать</a></div>
        </div>
      </div>
    </div>
    <div class="hotel">
      <div class="hotelHeader hotelHeaderBlue">Терминал Е аэропорта &nbsp<i class="iconAirport"></i>Шереметьево</div>
      <div class="hotelSubHeader">ЗОНА DUTY FREE, ПОСЛЕ ПАСПОРТНОГО КОНТРОЛЯ</div>
      <div class="hotelItems">
        <div style="background-image: url('img/hotel-4.jpg')" class="hotelItem">
          <div class="hotelItemHeader">Двухместный с окном</div>
          <div class="hotelItemText">Бронирование от 2000<span class="asl">o</span></div>
          <div class="hotelItemButton"><a href="#" class="buttonBlueBig">Бронировать</a></div>
        </div>
        <div style="background-image: url('img/hotel-5.jpg')" class="hotelItem">
          <div class="hotelItemHeader">Одноместныйс окном</div>
          <div class="hotelItemText">Бронирование от 3500<span class="asl">o</span></div>
          <div class="hotelItemButton"><a href="#" class="buttonBlueBig">Бронировать</a></div>
        </div>
        <div style="background-image: url('img/hotel-6.jpg')" class="hotelItem">
          <div class="hotelBestOffer">Лучшее предложение</div>
          <div class="hotelItemHeader">Первый класс 3-х местный</div>
          <div class="hotelItemText">Бронирование от 4500<span class="asl">o</span></div>
          <div class="hotelItemButton"><a href="#" class="buttonBlueBig">Бронировать</a></div>
        </div>
      </div>
    </div>
    <div class="hotelFuture">
      <div class="hotelFutureHeader">Сеть комфортных отелей</div>
      <div class="hotelFutureItems">
        <div class="hotelFutureItem">
          <div class="hotelFutureItemImage"><img src="img/future-1.png"></div>
          <h3>Современный дизайн</h3>
          <p>В наших отелях есть выбор от одноместного и бюджетного до трех-местных с окнами для семьи.hotelFutureItem</p>
        </div>
        <div class="hotelFutureItem">
          <div class="hotelFutureItemImage"><img src="img/future-2.png"></div>
          <h3>Безопасность</h3>
          <p>Наши сотрудники будут ждать вас в условленное время, и окажут посильную помощь и пр.</p>
        </div>
        <div class="hotelFutureItem">
          <div class="hotelFutureItemImage"><img src="img/future-3.png"></div>
          <h3>Красивый вид из окна</h3>
          <p>Выбор даты заезда и время отдыха, удобство нашего отеля в том, что вы можете отдохнуть от 3 часов.</p>
        </div>
        <div class="hotelFutureItem">
          <div class="hotelFutureItemImage"><img src="img/future-4.png"></div>
          <h3>Выход в Интернет </h3>
          <p>В наших отелях есть выбор от одноместного и бюджетного до трех-местных с окнами для семьи</p>
        </div>
        <div class="hotelFutureItem">
          <div class="hotelFutureItemImage"><img src="img/future-5.png"></div>
          <h3>Экономичная оплата</h3>
          <p>Выбор даты заезда и время отдыха, удобство нашего отеля в том, что вы можете отдохнуть от 3 часов.</p>
        </div>
        <div class="hotelFutureItem">
          <div class="hotelFutureItemImage"><img src="img/future-6.png"></div>
          <h3>Как заказать услугу?</h3>
          <p>Наши сотрудники будут ждать вас в условленное время, и окажут посильную помощь и пр.</p>
        </div>
      </div>
    </div>
    <div class="hotelMap"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=fH31ffbTsEmwKPDfB8PCCc4-SWCAjvYC&width=100%&height=416"></script></div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu"><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        <div class="footerText">© Капсульный отель «Воздушный Экспресс», Москва +7 800 550-02-42 (по России бесплатный), +7 (495) 788-35-02 (в Москве) Владелец сайта — ООО «Успех», 123557, Москва, Большой Тишинский переулок, д. 38 офис 630</div>
        <div class="footerIcons">
          <div class="footerIconMaestro"></div>
          <div class="footerIconVisa"></div>
        </div>
      </div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
