assets/template/payment.jade
extends _layout

block content
    .page
        .pageWrap
            .pageContent
                h1 Способы оплаты
                h2 Обращаем Ваше внимание, что при наличной оплате проживание в отелях нашей сети принимаются только российские рубли. 
                p Первый капсульный отель «Воздушный экспресс» располагается на 5-ом этаже терминала «Аэроэкспресс». Второй отель открылся в «транзитной зоне» терминала «Е» в мае 2013 года. К Вашим услугам — комфортабельные номера эконом-, бизнес- и первого класса, в которых есть всё необходимое, чтобы отдохнуть, восстановить силы и с хорошим настроением отправиться в полет.
                h3 Наличными в банке
                p Распечатайте и оплатите квитанцию в любом отделении Сбербанка или в любом другом банке, принимающего платежи от физических лиц. Размер предоплаты составит 100% от суммы забронированного номера или номеров. 
                p Для этого необходимо: 
                ol
                    li Связаться с администратором отеля по тел.: 8-800-550-02-42 (звонок по России бесплатный) или 8 (495) 788-35-02 (телефон в Москве) или по электронной почте info@v-exp.ru, забронировать номер и получить номер заявки. 
                    li Необходимо распечатать квитанцию. Заполнить квитанцию, обязательно указав номер заявки. 
                    li Оплатить данную квитанцию в банке. 
                    li 
                        | Отправить оплаченную квитанцию по факсу 8-800-550-02-42 (звонок по России бесплатный) или 8 (495) 788-35-02 (телефон в Москве) или по электронной почте 
                        a(href='#') info@v-exp.ru. 
                    li Предъявить оригинал оплаченной квитанции администратору при поселении в отеле. 
                    p.red Внимание: Неоплаченная заявка аннулируется автоматически в течение 24 часов после бронирования. 
                h3 Кредитная карта
                p Online бронирование, предоплата с помощью кредитной карты. При бронировании номера через сервис "Online бронирование" частным лицам предоставляется скидка 5%. Оплата услуг осуществляется по платежным картам только международных платежных систем (Visa, MC, DinersClub International). 
                p Более подробные условия бронирования представлены на странице БРОНИРОВАНИЕ ONLINE. В случае если вы не произвели оплату по кредитной карте, ваша заявка аннулируется в течение 24 часов. 
                p Оплата услуг отеля через квитанцию Сбербанка по заявкам, забронированным через сервис Online НЕВОЗМОЖНА. 
                h3 Система «Платрон»
                p Для оплаты счета выберите оператора Platron (кроме терминалов qiwi), указав свой номер телефона. Затем выберите необходимый Вам счет и вставьте купюры в купюроприемник.
                p С подробными инструкциями по оплате заказа Вы можете ознакомиться ниже:


                .blockLogo
                    .blockLogoImage
                        img(src="img/payment-1.png")
                    .blockLogoText
                        h1 Оплата через терминал и кошелек QIWI
                        p
                            a(href="#") Подробнее как оплатить
                .blockLogo
                    .blockLogoImage
                        img(src="img/payment-2.png")
                    .blockLogoText
                        h1 Оплата через терминал и кошелек QIWI
                        p
                            a(href="#") Подробнее как оплатить
                .blockLogo
                    .blockLogoImage
                        img(src="img/payment-3.png")
                    .blockLogoText
                        h1 Оплата через терминал и кошелек QIWI
                        p
                            | г.Архангельск, ул. Воскресенская, д. 7</br> Тел. (8182) 64-93-64 </br>
                            a(href="#") Подробнее как оплатить

                h3 Оплата с баланса сотового телефона
                p С услугой «Мобильный платеж» вы можете оплачивать услуги прямо со счета мобильного телефона! Услуга доступна для абонентов Билайн, физических лиц тарифных планов любой системы расчетов.Для абонентов предоплатной системы расчетов, сумма платежа просто спишется с основного счета мобильного телефона.
                p Абонентам постоплатной системы расчетов, чтобы пользоваться услугой, необходимо иметь средства на специальном авансовом счете, так как оплата может быть произведена только с него.
                p При оплате (Название Ваших услуг) с помощью услуги «Мобильный платеж» необходимо придерживаться определенных правил — ограничений на покупки.
                p Максимальная сумма оплаты — 10 000 руб.
                p Максимальная сумма оплаты за 1 сутки — 10 000 руб.
                p Максимальная сумма оплаты за 30 суток — 30 000 руб.
                p Подробнее об услуге «Мобильный платеж» и ее возможностях узнай на сайте www.beeline.ru 
                h3 Круглосуточная служба поддержки platron
                p 24 часа в сутки доступна служба поддержки, которая оперативно ответит на вопросы о статусе платежа и особенностях осуществления оплаты в той или иной платежной системе.
                p Телефон службы поддержки: +7 (495) 974-72-33 
                h3 Сроки и условия аннуляции.
                p Аннуляция бронирования производится в письменном виде за 24 часа до указанных в заявке даты и времени прибытия. В случае незаезда по заявке, а также аннуляции бронирования менее чем за 24 часа до указанной даты и времени прибытия внесенная ранее предоплата не возвращается. 
                p 
                    | По вопросам аннуляции и получения бланка заявления обращаться по тел:8-800-550-02-42 (звонок по России бесплатный), 8 (495) 788-35-02 (телефон в Москве) , 
                    a(href='#') info@v-exp.ru.


            .pageTabs
                .pageTabItem.pageTabItemActive
                    | Способы оплаты
                .pageTabItem
                    a(href="#") Пресса о нас
                .pageTabItem
                    a(href="#") Работа в компании
                .pageTabItem
                    a(href="#") Правила

public/payment.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>AirExpress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
    
  </head>
  <body>
    <div class="overley"></div>
    <div class="popup">
      <div class="popupClose">
        <button class="js-popupclose"></button>
      </div>
      <div class="popupWrap">
        <div class="popupHeader">Обратный звонок</div>
        <div class="popupText">Наши сотрудники перезвонят вам в ближайшее время, или вы можете написать нам на e-mail</div>
        <form class="popupForm">
          <div class="inputBlock">
            <div class="inputBlockWrap">
              <input placeholder="E-mail" required class="input">
            </div>
            <div class="inputBlockWrap">
              <input placeholder="Ваше имя" class="input">
            </div>
          </div>
          <input type="submit" value="Отправить" class="buttonBlueBig">
        </form>
      </div>
    </div>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLogo">
              <svg>
                <use xlink:href="#logo"></use>
              </svg>
        </div>
        <div class="headerLogoMobile">
              <svg>
                <use xlink:href="#logoMobile"></use>
              </svg>
        </div>
        <div class="headerMenu">
          <div class="headerMenuItems"><a href="#" class="active">Главная</a><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        </div>
        <div class="headerContact">
          <div class="headerSkype"><a href="#"></a></div>
          <div class="headerAddress"><a href="#" class="js-changephoneRus disable">Россия</a> /&nbsp<a href="#" class="js-changephoneMsk">Москва</a>
            <div class="headerPhoneRussia">8 800 550-02-42 </div>
            <div class="headerPhoneMsk">8 495 550-02-42 </div>
          </div>
          <div class="headerCallback">
            <button class="buttonBlue js-popupCall">Заказать звонок</button>
          </div>
        </div>
      </div>
    </div>
    <ul id="mobileMenu" class="mobileMenu">
      <li><a href="#" class="mobileMenuItem">Меню сайта</a>
        <ul>
          <li><a href="#" class="mobileMenuItemSub">Интернет магазин</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
          <li><a href="#" class="mobileMenuItemSub">Цены</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="page">
      <div class="pageWrap">
        <div class="pageContent">
          <h1>Способы оплаты</h1>
          <h2>Обращаем Ваше внимание, что при наличной оплате проживание в отелях нашей сети принимаются только российские рубли. </h2>
          <p>Первый капсульный отель «Воздушный экспресс» располагается на 5-ом этаже терминала «Аэроэкспресс». Второй отель открылся в «транзитной зоне» терминала «Е» в мае 2013 года. К Вашим услугам — комфортабельные номера эконом-, бизнес- и первого класса, в которых есть всё необходимое, чтобы отдохнуть, восстановить силы и с хорошим настроением отправиться в полет.</p>
          <h3>Наличными в банке</h3>
          <p>Распечатайте и оплатите квитанцию в любом отделении Сбербанка или в любом другом банке, принимающего платежи от физических лиц. Размер предоплаты составит 100% от суммы забронированного номера или номеров. </p>
          <p>Для этого необходимо: </p>
          <ol>
            <li>Связаться с администратором отеля по тел.: 8-800-550-02-42 (звонок по России бесплатный) или 8 (495) 788-35-02 (телефон в Москве) или по электронной почте info@v-exp.ru, забронировать номер и получить номер заявки. </li>
            <li>Необходимо распечатать квитанцию. Заполнить квитанцию, обязательно указав номер заявки. </li>
            <li>Оплатить данную квитанцию в банке. </li>
            <li>
               
              Отправить оплаченную квитанцию по факсу 8-800-550-02-42 (звонок по России бесплатный) или 8 (495) 788-35-02 (телефон в Москве) или по электронной почте <a href="#">info@v-exp.ru. </a>
            </li>
            <li>Предъявить оригинал оплаченной квитанции администратору при поселении в отеле. </li>
            <p class="red">Внимание: Неоплаченная заявка аннулируется автоматически в течение 24 часов после бронирования. </p>
          </ol>
          <h3>Кредитная карта</h3>
          <p>Online бронирование, предоплата с помощью кредитной карты. При бронировании номера через сервис "Online бронирование" частным лицам предоставляется скидка 5%. Оплата услуг осуществляется по платежным картам только международных платежных систем (Visa, MC, DinersClub International). </p>
          <p>Более подробные условия бронирования представлены на странице БРОНИРОВАНИЕ ONLINE. В случае если вы не произвели оплату по кредитной карте, ваша заявка аннулируется в течение 24 часов. </p>
          <p>Оплата услуг отеля через квитанцию Сбербанка по заявкам, забронированным через сервис Online НЕВОЗМОЖНА. </p>
          <h3>Система «Платрон»</h3>
          <p>Для оплаты счета выберите оператора Platron (кроме терминалов qiwi), указав свой номер телефона. Затем выберите необходимый Вам счет и вставьте купюры в купюроприемник.</p>
          <p>С подробными инструкциями по оплате заказа Вы можете ознакомиться ниже:</p>
          <div class="blockLogo">
            <div class="blockLogoImage"><img src="img/payment-1.png"></div>
            <div class="blockLogoText">
              <h1>Оплата через терминал и кошелек QIWI</h1>
              <p><a href="#">Подробнее как оплатить</a></p>
            </div>
          </div>
          <div class="blockLogo">
            <div class="blockLogoImage"><img src="img/payment-2.png"></div>
            <div class="blockLogoText">
              <h1>Оплата через терминал и кошелек QIWI</h1>
              <p><a href="#">Подробнее как оплатить</a></p>
            </div>
          </div>
          <div class="blockLogo">
            <div class="blockLogoImage"><img src="img/payment-3.png"></div>
            <div class="blockLogoText">
              <h1>Оплата через терминал и кошелек QIWI</h1>
              <p>г.Архангельск, ул. Воскресенская, д. 7</br> Тел. (8182) 64-93-64 </br><a href="#">Подробнее как оплатить</a></p>
            </div>
          </div>
          <h3>Оплата с баланса сотового телефона</h3>
          <p>С услугой «Мобильный платеж» вы можете оплачивать услуги прямо со счета мобильного телефона! Услуга доступна для абонентов Билайн, физических лиц тарифных планов любой системы расчетов.Для абонентов предоплатной системы расчетов, сумма платежа просто спишется с основного счета мобильного телефона.</p>
          <p>Абонентам постоплатной системы расчетов, чтобы пользоваться услугой, необходимо иметь средства на специальном авансовом счете, так как оплата может быть произведена только с него.</p>
          <p>При оплате (Название Ваших услуг) с помощью услуги «Мобильный платеж» необходимо придерживаться определенных правил — ограничений на покупки.</p>
          <p>Максимальная сумма оплаты — 10 000 руб.</p>
          <p>Максимальная сумма оплаты за 1 сутки — 10 000 руб.</p>
          <p>Максимальная сумма оплаты за 30 суток — 30 000 руб.</p>
          <p>Подробнее об услуге «Мобильный платеж» и ее возможностях узнай на сайте www.beeline.ru </p>
          <h3>Круглосуточная служба поддержки platron</h3>
          <p>24 часа в сутки доступна служба поддержки, которая оперативно ответит на вопросы о статусе платежа и особенностях осуществления оплаты в той или иной платежной системе.</p>
          <p>Телефон службы поддержки: +7 (495) 974-72-33 </p>
          <h3>Сроки и условия аннуляции.</h3>
          <p>Аннуляция бронирования производится в письменном виде за 24 часа до указанных в заявке даты и времени прибытия. В случае незаезда по заявке, а также аннуляции бронирования менее чем за 24 часа до указанной даты и времени прибытия внесенная ранее предоплата не возвращается. </p>
          <p>
             
            По вопросам аннуляции и получения бланка заявления обращаться по тел:8-800-550-02-42 (звонок по России бесплатный), 8 (495) 788-35-02 (телефон в Москве) , <a href="#">info@v-exp.ru.</a>
          </p>
        </div>
        <div class="pageTabs">
          <div class="pageTabItem pageTabItemActive">Способы оплаты</div>
          <div class="pageTabItem"><a href="#">Пресса о нас</a></div>
          <div class="pageTabItem"><a href="#">Работа в компании</a></div>
          <div class="pageTabItem"><a href="#">Правила</a></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu"><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        <div class="footerText">© Капсульный отель «Воздушный Экспресс», Москва +7 800 550-02-42 (по России бесплатный), +7 (495) 788-35-02 (в Москве) Владелец сайта — ООО «Успех», 123557, Москва, Большой Тишинский переулок, д. 38 офис 630</div>
        <div class="footerIcons">
          <div class="footerIconMaestro"></div>
          <div class="footerIconVisa"></div>
        </div>
      </div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
