assets/template/price.jade
extends _layout

block content
    .page
        .pageWrap
            .pageContent
                h1 Прайслист терминала Е
                h2 Обращаем Ваше внимание, что во всех отелях сети «Воздушный экспресс» оплата производится только в российских рублях. 
                p Убедительная просьба заранее планировать время (количество часов) вашего проживания в отеле. Информируем вас, что возврат денежных средств за неиспользованные часы проживания в капсульных отелях «Воздушный экспресс» не производится. При продлении времени проживания оплата взимается по 4-х часовому тарифу согласно прейскуранту и категории номера. 
                h3 Номера эконом
                table
                    thead
                        tr
                            td 
                                | 1-x местный
                                span Без окна, 9 номеров
                            td 
                                | 2-x местный
                                span Без окна, 9 номеров
                            td 
                                | 2-x местный
                                span C окном, 9 номеров
                            td
                    tbody
                        tr
                            td
                                | Цена (вкл. НДС)
                            td
                                | Цена (вкл. НДС)
                            td
                                | Цена (вкл. НДС)
                            td
                                | пакет
                        tr
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 4 часа
                        tr
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 5 часа
                        tr
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 6 часа
                        tr
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 7 часа
                        tr
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 8 часа
                        tr
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 9 часа
                
                        tr
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 10 часа
                        tr
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 11 часа
                h3 Бизнес-класс и первый класс
                table
                    thead
                        tr
                            td 
                                | Бизнес 3-x местный
                                span С окном, 9 номеров
                            td 
                                | 1-й класс 3-x местный
                                span С окном, 3 номеров
                            td
                    tbody
                        tr
                            td
                                | Цена (вкл. НДС)
                            td
                                | Цена (вкл. НДС)
                            td
                                | пакет
                        tr
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 2 690 
                                span.asl o
                            td
                                | 4 часа
                        tr
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 3 050 
                                span.asl o
                            td
                                | 5 часа
                        tr
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 3 390 
                                span.asl o
                            td
                                | 6 часа
                        tr
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 3 720 
                                span.asl o
                            td
                                | 7 часа
                        tr
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 4 060 
                                span.asl o
                            td
                                | 8 часа
                        tr
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 4 410 
                                span.asl o
                            td
                                | 9 часа

                        tr
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 4 770 
                                span.asl o
                            td
                                | 10 часа
                        tr
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 5 120 
                                span.asl o
                            td
                                | 11 часа
                .lineRed
                h5 Уважаемые Гости!
                p Обращаем Ваше внимание: 
                ol
                    li Все номера капсульного отеля «Воздушный экспресс» являются некурящими.
                    li Размещение с домашними животными в номерах капсульного отеля не представляется возможным.
                p Ценовая политика построена из расчета минимальной 4х часовой (экспресс пакет) продолжительности пребывания в отеле. 
                p Цены указаны в рублях, с учетом НДС.
                strong 8 800 550-02-42 (звонок по России бесплатный)
                strong 8 (495) 788-35-02 (телефон в Москве)
                strong
                    | или &nbsp
                    a(href="#") bron@v-exp.ru
            .pageTabs
                .pageTabItem.pageTabItemActive
                    | Способы оплаты
                .pageTabItem
                    a(href="#") Пресса о нас
                .pageTabItem
                    a(href="#") Работа в компании
                .pageTabItem
                    a(href="#") Правила

public/price.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>AirExpress</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
    
  </head>
  <body>
    <div class="overley"></div>
    <div class="popup">
      <div class="popupClose">
        <button class="js-popupclose"></button>
      </div>
      <div class="popupWrap">
        <div class="popupHeader">Обратный звонок</div>
        <div class="popupText">Наши сотрудники перезвонят вам в ближайшее время, или вы можете написать нам на e-mail</div>
        <form class="popupForm">
          <div class="inputBlock">
            <div class="inputBlockWrap">
              <input placeholder="E-mail" required class="input">
            </div>
            <div class="inputBlockWrap">
              <input placeholder="Ваше имя" class="input">
            </div>
          </div>
          <input type="submit" value="Отправить" class="buttonBlueBig">
        </form>
      </div>
    </div>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLogo">
              <svg>
                <use xlink:href="#logo"></use>
              </svg>
        </div>
        <div class="headerLogoMobile">
              <svg>
                <use xlink:href="#logoMobile"></use>
              </svg>
        </div>
        <div class="headerMenu">
          <div class="headerMenuItems"><a href="#" class="active">Главная</a><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        </div>
        <div class="headerContact">
          <div class="headerSkype"><a href="#"></a></div>
          <div class="headerAddress"><a href="#" class="js-changephoneRus disable">Россия</a> /&nbsp<a href="#" class="js-changephoneMsk">Москва</a>
            <div class="headerPhoneRussia">8 800 550-02-42 </div>
            <div class="headerPhoneMsk">8 495 550-02-42 </div>
          </div>
          <div class="headerCallback">
            <button class="buttonBlue js-popupCall">Заказать звонок</button>
          </div>
        </div>
      </div>
    </div>
    <ul id="mobileMenu" class="mobileMenu">
      <li><a href="#" class="mobileMenuItem">Меню сайта</a>
        <ul>
          <li><a href="#" class="mobileMenuItemSub">Интернет магазин</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
          <li><a href="#" class="mobileMenuItemSub">Цены</a>
            <ul>
              <li><a href="#" class="mobileMenuItemLink">Об отеле</a></li>
              <li><a href="#" class="mobileMenuItemLink">Пресса о нас</a></li>
              <li><a href="#" class="mobileMenuItemLink">Работа в компании</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="page">
      <div class="pageWrap">
        <div class="pageContent">
          <h1>Прайслист терминала Е</h1>
          <h2>Обращаем Ваше внимание, что во всех отелях сети «Воздушный экспресс» оплата производится только в российских рублях. </h2>
          <p>Убедительная просьба заранее планировать время (количество часов) вашего проживания в отеле. Информируем вас, что возврат денежных средств за неиспользованные часы проживания в капсульных отелях «Воздушный экспресс» не производится. При продлении времени проживания оплата взимается по 4-х часовому тарифу согласно прейскуранту и категории номера. </p>
          <h3>Номера эконом</h3>
          <table>
            <thead>
              <tr>
                <td>
                   
                  1-x местный<span>Без окна, 9 номеров</span>
                </td>
                <td>
                   
                  2-x местный<span>Без окна, 9 номеров</span>
                </td>
                <td>
                   
                  2-x местный<span>C окном, 9 номеров</span>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Цена (вкл. НДС)</td>
                <td>Цена (вкл. НДС)</td>
                <td>Цена (вкл. НДС)</td>
                <td>пакет</td>
              </tr>
              <tr>
                <td>2 690 <span class="asl">o</span></td>
                <td>2 690 <span class="asl">o</span></td>
                <td>2 690 <span class="asl">o</span></td>
                <td>4 часа</td>
              </tr>
              <tr>
                <td>3 050 <span class="asl">o</span></td>
                <td>3 050 <span class="asl">o</span></td>
                <td>3 050 <span class="asl">o</span></td>
                <td>5 часа</td>
              </tr>
              <tr>
                <td>3 390 <span class="asl">o</span></td>
                <td>3 390 <span class="asl">o</span></td>
                <td>3 390 <span class="asl">o</span></td>
                <td>6 часа</td>
              </tr>
              <tr>
                <td>3 720 <span class="asl">o</span></td>
                <td>3 720 <span class="asl">o</span></td>
                <td>3 720 <span class="asl">o</span></td>
                <td>7 часа</td>
              </tr>
              <tr>
                <td>4 060 <span class="asl">o</span></td>
                <td>4 060 <span class="asl">o</span></td>
                <td>4 060 <span class="asl">o</span></td>
                <td>8 часа</td>
              </tr>
              <tr>
                <td>4 410 <span class="asl">o</span></td>
                <td>4 410 <span class="asl">o</span></td>
                <td>4 410 <span class="asl">o</span></td>
                <td>9 часа</td>
              </tr>
              <tr>
                <td>4 770 <span class="asl">o</span></td>
                <td>4 770 <span class="asl">o</span></td>
                <td>4 770 <span class="asl">o</span></td>
                <td>10 часа</td>
              </tr>
              <tr>
                <td>5 120 <span class="asl">o</span></td>
                <td>5 120 <span class="asl">o</span></td>
                <td>5 120 <span class="asl">o</span></td>
                <td>11 часа</td>
              </tr>
            </tbody>
          </table>
          <h3>Бизнес-класс и первый класс</h3>
          <table>
            <thead>
              <tr>
                <td>
                   
                  Бизнес 3-x местный<span>С окном, 9 номеров</span>
                </td>
                <td>
                   
                  1-й класс 3-x местный<span>С окном, 3 номеров</span>
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Цена (вкл. НДС)</td>
                <td>Цена (вкл. НДС)</td>
                <td>пакет</td>
              </tr>
              <tr>
                <td>2 690 <span class="asl">o</span></td>
                <td>2 690 <span class="asl">o</span></td>
                <td>4 часа</td>
              </tr>
              <tr>
                <td>3 050 <span class="asl">o</span></td>
                <td>3 050 <span class="asl">o</span></td>
                <td>5 часа</td>
              </tr>
              <tr>
                <td>3 390 <span class="asl">o</span></td>
                <td>3 390 <span class="asl">o</span></td>
                <td>6 часа</td>
              </tr>
              <tr>
                <td>3 720 <span class="asl">o</span></td>
                <td>3 720 <span class="asl">o</span></td>
                <td>7 часа</td>
              </tr>
              <tr>
                <td>4 060 <span class="asl">o</span></td>
                <td>4 060 <span class="asl">o</span></td>
                <td>8 часа</td>
              </tr>
              <tr>
                <td>4 410 <span class="asl">o</span></td>
                <td>4 410 <span class="asl">o</span></td>
                <td>9 часа</td>
              </tr>
              <tr>
                <td>4 770 <span class="asl">o</span></td>
                <td>4 770 <span class="asl">o</span></td>
                <td>10 часа</td>
              </tr>
              <tr>
                <td>5 120 <span class="asl">o</span></td>
                <td>5 120 <span class="asl">o</span></td>
                <td>11 часа</td>
              </tr>
            </tbody>
          </table>
          <div class="lineRed"></div>
          <h5>Уважаемые Гости!</h5>
          <p>Обращаем Ваше внимание: </p>
          <ol>
            <li>Все номера капсульного отеля «Воздушный экспресс» являются некурящими.</li>
            <li>Размещение с домашними животными в номерах капсульного отеля не представляется возможным.</li>
          </ol>
          <p>Ценовая политика построена из расчета минимальной 4х часовой (экспресс пакет) продолжительности пребывания в отеле. </p>
          <p>Цены указаны в рублях, с учетом НДС.</p><strong>8 800 550-02-42 (звонок по России бесплатный)</strong><strong>8 (495) 788-35-02 (телефон в Москве)</strong><strong>или &nbsp<a href="#">bron@v-exp.ru</a></strong>
        </div>
        <div class="pageTabs">
          <div class="pageTabItem pageTabItemActive">Способы оплаты</div>
          <div class="pageTabItem"><a href="#">Пресса о нас</a></div>
          <div class="pageTabItem"><a href="#">Работа в компании</a></div>
          <div class="pageTabItem"><a href="#">Правила</a></div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu"><a href="#">Об отеле</a><a href="#">Цены</a><a href="#">Акции</a><a href="#">Фото</a><a href="#">Партнерам</a></div>
        <div class="footerText">© Капсульный отель «Воздушный Экспресс», Москва +7 800 550-02-42 (по России бесплатный), +7 (495) 788-35-02 (в Москве) Владелец сайта — ООО «Успех», 123557, Москва, Большой Тишинский переулок, д. 38 офис 630</div>
        <div class="footerIcons">
          <div class="footerIconMaestro"></div>
          <div class="footerIconVisa"></div>
        </div>
      </div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>
